<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1033089408411-64j6v05g7jib95715vupmuka9cp1lnfd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033089408411-64j6v05g7jib95715vupmuka9cp1lnfd</string>
	<key>API_KEY</key>
	<string>AIzaSyAkwqGpUIlF_z2neuDV_H8TugBACPngBMY</string>
	<key>GCM_SENDER_ID</key>
	<string>1033089408411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kerningless.LostX</string>
	<key>PROJECT_ID</key>
	<string>lostx-5cc5a</string>
	<key>STORAGE_BUCKET</key>
	<string>lostx-5cc5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033089408411:ios:84eb14ad93042952</string>
	<key>DATABASE_URL</key>
	<string>https://lostx-5cc5a.firebaseio.com</string>
</dict>
</plist>